nav {
    background-color: white;
    color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
.grad {
    background-image: linear-gradient(to right, rgb(240, 98, 162) , yellow);
    background-size: cover;
    
  }
  .bb{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    height:80vh;
    width: 200vh;
    background-size: cover;
}
.back {
    background-color: rgba(250, 128, 114, 0.5); 
    text-align: center;
    color: white;
    height: 20vh;
    width: 40vh;
    margin: 0 auto;
    margin-top: 16p;
    float: left;
  }
  
  @media only screen and (min-width: 600px) {
    
    .back {
      height: 30vh;
      width: 60vh;
      margin: 0 auto 32px;
    }
  }
    .bb{
        background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
        height:80vh;
        width: 200vh;
        background-size: cover;
    }
    .back {
        background-color: rgba(250, 128, 114, 0.5); 
        }
    
    
    .grad {
            background-image: linear-gradient(to right, rgb(240, 98, 162) , yellow);
            background-size: cover;
            height: 100vh;
          }
    .container {
            display: flex;
            flex-direction: row;
            margin: 16px;
            justify-content: space-around;
            align-items: center;
          }
          
    
    .nn{
        background-color: white;
        height: 250px;
        width:25vh;
        border: 1px solid hsl(0, 0%, 80%);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 16px;
    }
    .box {
        border: 1px solid #ccc;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      
      .ima {
        margin: auto;
        max-width: 50%;
        height: auto;
        align-items: center;
        border-top-right-radius: 20px;
        
      }
      
      h3 {
        margin: 0;
      }
      
      p {
        margin: 0;
        text-align: center;
      }
      .order{
        text-align: center;
        color:white;
      }
      .gg{
        background: transparent;
        height: 100px;
        width:150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 25px;
        padding: 16px;
      }
      .fa-whatsapp {
        color: green;
        font-size: 24px;
      }